@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
}
.iti {
  display:block !important;
}
.iti .iti__selected-dial-code {
  font-size: var(--mantine-font-size-sm);
}
tr:not(:last-of-type) .mantine-datatable-row-expansion-cell-content {
  border-bottom: none;
}
main[data-device="mobile"][data-sidebar-state="full"] {
  --app-shell-navbar-offset: 60px;
}
@media (max-width: $mantine-breakpoint-md) {
  :where([data-layout='alt']) .m_3b16f56b, :where([data-layout='alt']) .m_3840c879 {
    --app-shell-navbar-offset: 60px;
  }
}
@media (max-width: $mantine-breakpoint-sm) {
  main[data-device="mobile"] > * {
    padding-inline: 0 !important;
  }
  .mantine-datatable-pagination {
    padding-inline: 0 !important;
  }
}
.mantine-Radio-icon {
  transition: opacity 100ms ease !important;
}
